#container{
    border-style: solid;
    border-width: .1em;
    border-color: #000;
    background-color: #FFF291;
    margin-right: auto;
    margin-left: auto;
}

#mitten1{
    border-style: solid;
    border-width: .1em;
    margin-left: 10em;
    background-color: #E8A55A;
}


#logga{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Huvudet */
#sidhuvud{
    border-style: solid;
    border-width: .1em;
    background-color: #99E85A;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
/* Navigeringsmenyen */
#navigeringsmeny{
    float: left;
    background-color: #0CC0E8;
    border-style: solid;
    border-width: .5em;
    border-color: white;
    width: 8em;
}

#form{
    background-color: #E89B0C;
}
#tabell{
}

#sidfot{
    border-style: solid;
    border-width: 0.5em;
    border-color: white;
    background-color: #CAE861;
    width: 100%;
}