#container{
    
}

#mitten1{
    
}



/* Huvudet */
#sidhuvud{
    
}
/* Navigeringsmenyen */
#navigeringsmeny{
    float:left;
    width: 10em;
}

#form{
    background-color: #E89B0C;
}
#tabell{
    
}

#sidfot{
    
}

#form{
    
}