#container{
    border-style: solid;
    border-width: .1em;
    border-color: #fff;
    background-color: #FFF291;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-family: "Times New Roman", sans-serif;
    font-size: 1.1em;
    line-height: 20px;
}

#mitten1{
    border-style: solid;
    border-width: .2em;
    border-color: #fff;
    background-color: #E8A55A;
    text-align: left;
}

#film{
    border-style: solid;
    border-width: .1em;
    border-color: #fff;
    background-color: #E8A55A;
}

#logga{
    display: block;
    margin-left: auto;
    margin-right: auto;
}


#sidhuvud{
    border-style: solid;
    border-width: .5em;
    background-color: #99E85A;
    border-color: #fff;
    width: 100%;
    
}
/* Navigeringsmenyen */
#navigeringsmeny{
    float: left;
    border-style: solid;
    border-width: .5em;
    border-color: #fff;
    width: 100%;
    background-color: #0CC0E8;
    
}
#navigeringsmeny ul{
    float: left;
    width: 100%;
    padding: .3em;
    margin: .2em;
}

#navigeringsmeny a{
    float: center;
    width: 100%;
    color: #0CC0E8;
    background-color: #fff;
    padding: .3em 3em;
}
#navigeringsmeny li{
    display: inline;
}

#navigeringsmeny a:hover{
    background-color: #99E85A;    
}
.aktiv{
    font-style: italic;
    font-size: 1.1em;
}



#form{
    background-color: #E89B0C;
}
#tabell{
    background-color: #E89B0C;

}

#sidfot{
    border-style: solid;
    border-width: 0.5em;
    border-color: #fff;
    background-color: #CAE861;
    width: 100%;
}
h1{
    text-transform: uppercase;
    font-family: "Arial", sans-serif;
}
h2{
    font-family: "Arial", sans-serif
}
h3{
    font-family: "Arial", sans-serif
}
h4{
    font-family: "Arial", sans-serif
}

a:link{
    color: #85A036;
    font-family: "verdana", sans-serif;
    font-style: italic;
}
a:hover{
    color: #E8680C;
}
#laboration1 a:link{
    color: #85A036;
}